{% extends 'admin/base.html.twig' %}

{% block body %}
    <div>
        <h1>List all categories</h1>
        <div>
            <table id="jqgrid-list-entities"></table>
            <div id="jqgrid-list-entities-pager"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
      $(function () {
        $("#jqgrid-list-entities").jqGrid({
          url: '/api/category',
          datatype: "json",
          colNames: ['id', 'name', 'code', 'actions'],
          colModel: [
            {name: 'id', index: 'id', width: 55},
            {name: 'name', index: 'name', width: 100},
            {name: 'code', index: 'code', width: 100},
            {
              name: 'actions', index: 'actions', formatter: function (el, row, entity) {
                return `<a href="/admin/category/update/${entity.id}">Edit</a> / <a href="#" class="remove-entity-btn" data-entity-id="${entity.id}">Delete</a>`;
              }
            },
          ],
          rowNum: 5,
          rowList: [5, 10, 20],
          pager: '#jqgrid-list-entities-pager',
        });
        jQuery("#jqgrid-list-entities").jqGrid('navGrid', '#jqgrid-list-entities-pager', {edit: false, add: false, del: false});

        $(document).on('click', '.remove-entity-btn', function (e) {
          e.preventDefault();
          sendRequest('/api/category/' + $(this).data('entity-id'), 'DELETE', '', function (response) {
            if (response.code === 200) {
              toastr.success('Cart updated!', 'Product removed from cart');
              $('#jqgrid-list-entities').trigger('reloadGrid');
            } else {
              toastr.error('Error', 'Category not deleted')
            }
          })
        })
      });
    </script>

{% endblock %}