{% extends 'admin/base.html.twig' %}

{% block body %}
    <div>
        <h1>List all categories</h1>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="category-list__table-body">

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
      $(function () {
        function createRow(el) {
          return `<tr><td>${el.id}</td><td>${el.name}</td><td></td><td><a href="#">Edit</a> / <a href="#">Delete</a></td></td></tr>`;
        }

        sendRequest('/api/category', 'GET', null, function (data) {
          let html = '';
          data.forEach(function (el) {
            html += createRow(el)
          });

          $('#category-list__table-body').html(html);
        })
      });
    </script>

{% endblock %}