<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Dashboard{% endblock %}</title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <link href="/dropzone/dropzone.css" type="text/css" rel="stylesheet" />
    <script src="/dropzone/dropzone.js"></script>>

    <link rel="stylesheet" href="/css/admin-style.css">
</head>
<body>

    <div class="body-holder">
        {% include 'admin/navigation.html.twig' %}

        {% block body %}{% endblock %}
    </div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script>

      function sendRequest(url, method, data, successFunction) {
        $.ajax({
          url: url,
          method: method,
          datatype : 'application/json',
          contentType: 'application/json',
          data: data ? JSON.stringify(data) : null,
          success: successFunction
        });
      }
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>