{% block navigation %}
    <nav>
        <ul>
            <li><a href="/admin">Dashboard</a></li>
            <li>Product
                <ul>
                    <li><a href="/admin/product/list">List All</a></li>
                    <li><a href="/admin/product/create">Add New</a></li>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}