{% block navigation %}
    <nav>
        <ul>
            <li>Dashboard</li>
            <li>Product
                <ul>
                    <li>List All</li>
                    <li>Add New</li>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}