APP_ENV=dev
APP_SECRET=c9cba6712172062561dcda1aa9a49653

DATABASE_DRIVER=
DATABASE_HOST=
DATABASE_DBNAME=
DATABASE_USER=
DATABASE_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_ADMIN=