{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="admin-content">
        <h1>Create new Product</h1>
        <div>
            {#<form action="#">#}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter product name">
            </div>
            <div class="form-group">
                <label for="shortDesc">Product short description</label>
                <input type="text" class="form-control" id="shortDesc" placeholder="Enter product short description">
            </div>
            <div class="form-group">
                <label for="code">Product short code</label>
                <input type="text" class="form-control" id="code" placeholder="Enter product code">
            </div>
            <div class="form-group">
                <label for="price">Product short price</label>
                <input type="number" class="form-control" id="price" placeholder="Enter product price">
            </div>
            <div class="form-group">
                <label for="desc">Product description</label>
                <textarea class="form-control" id="desc" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="categories">Product categories</label>
                <select class="form-control" name="categories" id="categories">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <form action="#" class="dropzone" id="my-awesome-dropzone"></form>
            <button id="save-prod" type="button" class="btn btn-primary">Submit</button>
            {#</form>#}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
      Dropzone.options.myAwesomeDropzone = false;
      var productImages = new Map();
      var productImageId = 0;

      $(function () {
        $('#save-prod').click(function (e) {
          let product = {
            name: $('#name').val(),
            short_description: $('#shortDesc').val(),
            description: $('#desc').val(),
            code: $('#code').val(),
            price: $('#price').val(),
            categories: [
              {
                id: parseInt($('#categories').val())
              }
            ],
            images: Array.from(productImages).map(function (el) {
              return {
                id: el[0].startsWith('tmp_') ? null : el[0],
                base64: el[0].startsWith('tmp_') ? el[1].dataURL : null,
                name: el[1].name
              };
            })
          }

          sendRequest('/api/product', 'POST', product, function (data) {
            // alert(`Product saved with id ${data.id}`)
            // location.href = '/admin/product/list'
          })
        })

        var productImageDropzone = new Dropzone('#my-awesome-dropzone', {
          autoProcessQueue: false,
          acceptedFiles: 'image/*',
          addRemoveLinks: true,
        });

        productImageDropzone.on('addedfile', function (file) {
          file.id = 'tmp_' + (++productImageId);
          productImages.set(file.id, file)
        });

        productImageDropzone.on('removedfile', function (file) {
          productImages.delete(file.id)
        })
      });
    </script>
{% endblock %}