{% extends 'admin/base.html.twig' %}

{% block body %}
    <div>
        <h1>List all products</h1>
        <div>
            <table id="jqgrid-list-entities"></table>
            <div id="jqgrid-list-entities-pager"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
      $(function () {
        $("#jqgrid-list-entities").jqGrid({
          url: '/api/product',
          datatype: "json",
          colNames: ['id', 'name', 'code', 'price', 'createdAt', 'actions'],
          colModel: [
            {name: 'id', index: 'id', width: 55},
            {name: 'name', index: 'name', width: 100},
            {name: 'code', index: 'code', width: 100},
            {name: 'price', index: 'code', width: 100},
            {name: 'createdAt', index: 'code', formatter: function (el) {
                return new Date(el.date).toLocaleDateString()
              }},
            {
              name: 'actions', index: 'actions', formatter: function () {
                return '<a href="#">Edit</a> / <a href="#">Delete</a>';
              }
            },
          ],
          rowNum: 5,
          rowList: [5, 10, 20],
          pager: '#jqgrid-list-entities-pager',
        });
        jQuery("#jqgrid-list-entities").jqGrid('navGrid', '#jqgrid-list-entities-pager', {edit: false, add: false, del: false});
      });
    </script>

{% endblock %}