{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="breadcrumb-area pt-205 pb-210" style="background-image: url(img/bg/breadcrumb.jpg)">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>about us</h2>
                <ul>
                    <li><a href="#">home</a></li>
                    <li> about us </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about-story pt-95 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="story-details pl-50">
                        <div class="story-details-top">
                            <h2>WELCOME TO E-SERVICE ONLINE SHOP</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum elementum ipsum quis elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer vitae metus quis felis euismod volutpat. Praesent felis augue, congue vitae vestibulum sed, fermentum sed enim. Ut accumsan velit orci, a facilisis odio hendrerit ac. Aenean tincidunt lorem vitae magna hendrerit, nec posuere magna cursus. In hac habitasse platea dictumst. Vivamus molestie arcu turpis, sit amet vulputate lacus sodales nec. Cras purus dui, consequat ac arcu id, egestas malesuada dui. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum elementum ipsum quis elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer vitae metus quis felis euismod volutpat. Praesent felis augue, congue vitae vestibulum sed, fermentum sed enim. Ut accumsan velit orci, a facilisis odio hendrerit ac. Aenean tincidunt lorem vitae magna hendrerit, nec posuere magna cursus. In hac habitasse platea dictumst. Vivamus molestie arcu turpis, sit amet vulputate lacus sodales nec. Cras purus dui, consequat ac arcu id, egestas malesuada dui. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}