{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="pt-205 pb-210">
        <h1>Category: {{ category.name }}</h1>
    </div>
{% endblock %}

{% block footerJavascript %}
    <script>
      $(function () {

      });
    </script>
{% endblock %}